<ul>
                                <li>
                                    <h2>Obřad</h2>
                                    <ul>
                                        <li><a href="$request.contextPath/invitation/nuptials_venue">Kdy a kde</a></li>
                                        <li><a href="$request.contextPath/invitation/nuptials_directions">Kudy</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <h2>Veselice</h2>
                                    <ul>
                                        <li><a href="$request.contextPath/invitation/party_venue">Kdy a kde</a></li>
                                        <li><a href="$request.contextPath/invitation/party_directions">Kudy</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <h2>Různé</h2>
                                    <ul>
                                        <li><a href="$request.contextPath/invitation/clarification">Upozornění</a></li>
                                        <li><a href="$request.contextPath/invitation/accommodation">Ubytování</a></li>
                                    </ul>
                                </li>
                            </ul>
